<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <style>
        body {
            margin: 0;
        }

        .template_image {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
        }
    </style>
</head>
<body>
<nav>
    <a href="index.html"></a>
    <a href="index.html">Акции</a>
    <a href="index.html">Статьи</a>
</nav>
<img class="template_image" src="../images/Главная.jpg"/>
</body>
</html>