<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        {% block javascript_top %}{% endblock %}
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascript_bottom %}{% endblock %}
    </body>
</html>